@using PressTheButton.ViewModels
@model NotificationViewModel

@{
    string randomIdTD = Guid.NewGuid().ToString();
    string randomIdTS = Guid.NewGuid().ToString();
    string limitedUserName = Model.ProfileName.Length > 20 ? Model.ProfileName.Substring(0, 20) + "..." : Model.ProfileName;
}

<div class="alert @(Model.IsNew ? "bg-info" : "bg-light") card border-1 border-primary bg-opacity-10 shadow-sm mb-2">
    <div class="card-body">
        <div class="d-flex">
            <div class="align-self-start">
                <img src="~/images/profilePicture/@Model.ProfilePicPath" class="img-fixed-size-low me-3" />
            </div>
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <p class="card-title me-2 mb-0"><strong>@limitedUserName respondeu ao seu comentário</strong></p>
                </div>
                <p class="card-text text-wrap mt-3" id="@randomIdTD">@Model.TextDestinatary</p>
                <i class="fa-solid fa-reply text-center" style="transform: rotate(180deg);"></i>
                <p class="card-text text-wrap mt-3" id="@randomIdTS">@Model.TextSender</p>
            </div>
        </div>
        <div class="d-flex justify-content-end align-items-center mt-3">
            @if (Model.IsNew)
            {
                <span class="badge bg-primary me-2">NOVO</span>
            }
            <p class="card-title text-muted mb-0 text-end">@Model.Notification.Date.ToString("dd/MM/yyyy HH:mm")</p>
        </div>
    </div>
</div>

<script>
    var textSender = document.getElementById('@randomIdTD');
    var textDestinatary = document.getElementById('@randomIdTS');
    var lineHeight = parseInt(window.getComputedStyle(textSender).lineHeight);
    var maxHeight = lineHeight * 3;

    if (textSender.offsetHeight > maxHeight) {
        textSender.style.overflow = 'hidden';
        textSender.style.display = '-webkit-box';
        textSender.style.webkitBoxOrient = 'vertical';
        textSender.style.webkitLineClamp = 3;
    }

    if (textDestinatary.offsetHeight > maxHeight) {
        textDestinatary.style.overflow = 'hidden';
        textDestinatary.style.display = '-webkit-box';
        textDestinatary.style.webkitBoxOrient = 'vertical';
        textDestinatary.style.webkitLineClamp = 3;
    }
</script>