@model List<PressTheButton.Models.Question>

<div class="container mb-5">
    <div class="row justify-content-center align-items-center">
        <h1 class="text-center mt-5 mb-5">Dilemas</h1>
        <a class="btn btn-lg btn-info" style="max-width: 16rem;" asp-action="Create">Criar novo Dilema</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr class="bg-primary text-light">
            <th><b>Proposta</b></th>
            <th><b>Desvantagem</b></th>
            <th class="text-center"><b>Opções</b></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var question in Model)
        {
            string limitedText = question.Text.Length > 80 ? question.Text.Substring(0, 80) + "..." : question.Text;
            string limitedNeg = question.Negative.Length > 80 ? question.Negative.Substring(0, 80) + "..." : question.Negative;

            <tr>
                <td>@limitedText</td>
                <td>@limitedNeg</td>
                <td>
                    <div class="container">
                        <div class="row">
                                <a class="btn btn-secondary col m-2" asp-action="Details" asp-route-id="@question.QuestionId">Detalhes</a>
                                <a class="btn btn-primary col m-2" asp-action="Edit" asp-route-id="@question.QuestionId">Editar</a>
                                <a class="btn btn-danger col m-2" asp-action="Delete" asp-route-id="@question.QuestionId">Deletar</a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>