@{
    ViewData["Title"] = "Home Page";
}

@model PressTheButton.Models.Question

<style>
    .center-outer {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div class="container">
    <div class="row">
        <h2 class="mt-5 text-primary text-center">
            Você vai apertar o botão?
        </h2>
        <p class="mt-5 text-center">@Html.DisplayFor(model => model.QuestionId)</p>
        <p class="mt-5 text-center">@Html.DisplayFor(model => model.Text)</p>
        <p class="text-center">Mas...</p>
        <p class="mb-5 text-center">@Html.DisplayFor(model => model.Negative)</p>
    </div>
</div>

<div class="center-outer">
    <form method="post" action="@Url.Action("ApertarBotao", "Home")">
        <input type="hidden" name="QuestionId" asp-for="QuestionId" />
        <button type="submit" class="btn img-fluid">
            <img src="~/images/button.png" width="150" />
        </button>
    </form>
</div>

<div class="center-outer mt-5 mb-5">
    <form method="post" action="@Url.Action("NaoApertarBotao", "Home")">
        <input type="hidden" name="QuestionId" asp-for="QuestionId" />
        <button type="submit" class="btn btn-danger">Não apertar</button>
    </form>
</div>
