@model PressTheButton.ViewModels.QuestionStatsViewModel

<div class="container">
    <div class="row">
        <h2 class="mt-5 text-center">@Html.DisplayFor(model => model.Question.Text)</h2>
        <h2 class="text-center">Mas...</h2>
        <h2 class="mb-5 text-center">@Html.DisplayFor(model => model.Question.Negative)</h2>
    </div>
</div>

<p class="mt-5 text-center text-primary">Total de respostas: @Model.TotalResponses</p>

<p class="text-center text-success">Apertaram o botão: @Model.YesPercentage.ToString("0.00")%</p>

<p class="mb-5 text-center text-danger">Não apertaram o botão: @Model.NoPercentage.ToString("0.00")%</p>

<div class="text-center">
    <a asp-action="Index" class="btn btn-primary mt-3">Próximo</a>
</div>