@model PressTheButton.ViewModels.QuestionStatsViewModel

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="card border-primary text-center mt-3 w-auto h-auto">
            <div class="card-body">
                <div class="card-text" style="font-size: 26px;">@Html.DisplayFor(model => model.Question.Text)</div>
            </div>
        </div>

        <div class="text-center text-primary mt-3" style="font-size: 26px;"><strong>Mas...</strong></div>

        <div class="card border-primary text-center mt-3 w-auto h-auto">
            <div class="card-body">
                <div class="card-text" style="font-size: 26px;">@Html.DisplayFor(model => model.Question.Negative)</div>
            </div>
        </div>

        <div class="text-center">
            <a asp-action="Index" class="btn btn-lg btn-primary mt-4 mb-4"><strong>PRÓXIMO</strong></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <b class="col-sm-6 text-start text-success">@Model.YesPercentage.ToString("0.00")%</b>
        <b class="col-sm-6 text-end text-danger">@Model.NoPercentage.ToString("0.00")%</b>
    </div>
</div>

<div class="progress">
    <div id="trueProgress" class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: @Model.YesPercentage.ToString("0")%;" aria-valuemin="0" aria-valuemax="100"></div>
    <div id="falseProgress" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: @Model.NoPercentage.ToString("0")%;" aria-valuemin="0" aria-valuemax="100"></div>
</div>


<p class="mt-5 text-center text-primary">Total de respostas: @Model.TotalResponses</p>

<p class="text-center text-success">Apertaram o botão: @Model.YesPercentage.ToString("0.00")%</p>

<p class="mb-5 text-center text-danger">Não apertaram o botão: @Model.NoPercentage.ToString("0.00")%</p>

<div class="text-center">
    <form id="commentForm" asp-controller="Question" asp-action="MakeComment" asp-route-questionId="@Model.Question.QuestionId" method="post">
        <div class="form-group">
            <textarea placeholder="Comentar..." class="form-control" id="commentText" name="text" rows="1" style="resize: none"></textarea>
            <button type="submit" class="btn btn-primary mt-3">Comentar</button>
        </div>
    </form>
</div>

@{
    int commentsCount = Model.Question.Comments.Count;
}

@if(commentsCount > 0)
{
    <b class="mt-3">@Model.Question.Comments.Count Comments</b>
}
else
{
    <b class="mt-3">Seja o primeiro a comentar</b>
}

<div>
    @if (Model.CommentsWithUserNames != null && Model.CommentsWithUserNames.Any())
    {
        <div class="container mt-4">
            @foreach (var (comment, userName) in Model.CommentsWithUserNames)
            {
                <div class="card border-primary mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@userName</h5>
                        <p class="card-text">@comment.Text</p>
                        <p class="card-text"><small class="text-muted">@comment.Date.ToString("dd/MM/yyyy HH:mm")</small></p>
                    </div>
                </div>
            }
        </div>
    }
</div>

<script>
    document.getElementById('commentText').addEventListener('keydown', function (event) {
        if (event.keyCode === 13 && !event.shiftKey) {
            event.preventDefault();
            document.getElementById('commentForm').submit();
        }
    });
</script>